<!-- Selectors -->

<div class="container mb-5">
  <!-- Region selector : -->
  <p-listbox [options]="regions" [(ngModel)]="selectedRegions" [style]="{'width':'400px'}"
             [listStyle]="{'max-height':'250px'}"
             multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="selectedRegionsChanged($event)"
             optionLabel="name" class="mr-2">
    <p-header>Choisir une ou plusieurs région(s)</p-header>
  </p-listbox>

  <!-- City selector : -->
  <div *ngIf="selectedRegions?.length > 0">
    <p-listbox [options]="cities" [(ngModel)]="selectedCities" [style]="{'width':'400px'}"
               [listStyle]="{'max-height':'250px'}"
               multiple="multiple" checkbox="checkbox" filter="filter" (onChange)="selectedCitiesChanged($event)"
               optionLabel="name">
      <p-header>Choisir une ou plusieurs ville(s)</p-header>
    </p-listbox>
  </div>
</div>

<!-- Debug -->

<div *ngIf="debug">
  <br>
  <p>Villes : {{cities.length}}, {{selectedCities.length}} sélectionné(s).</p>
  <p>Régions : {{regions.length}}, {{selectedRegions.length}} sélectionné(s).</p>

  <p>Jobs : {{jobs?.length}}</p>
</div>

<div *ngIf="jobs?.length > 0">

  <!-- Recherche -->

  <div class="container">
    <form id="filter" action="">
      <label for="filter">Mot clefs</label>
      <p-chips [(ngModel)]="searchTerm" name="searchTerm" [style]="{width: '600px'}"></p-chips>
    </form>
  </div>

  <br>

  <!-- Jobs -->

  <div class="features-boxed">
    <!--<div class="container">-->
    <div class="intro">
      <h2 class="text-center">Emplois</h2>
      <p class="text-center">{{(jobs|filter:searchTerm).length}} offre(s) d'emplois dans {{getVilles()}}.</p>
    </div>

    <div class="row justify-content-center features">
      <div *ngFor="let job of this.jobs | filter:searchTerm">
        <div class="separated">

          <p-card title="{{job.nameOfTheJob}}" subtitle="{{job.employer}}"
                  [style]="{width: '350px',  minHeight: '400px'}"
                  styleClass="ui-card-shadow">

            <div class="description">
              <p>
                <i class="fas fa-users"></i> Position(s) : {{job.numberOfPositions}}</p>
              <p>
                <i class="fas fa-graduation-cap"></i> Éducation : {{job.education}}</p>
              <p>
                <i class="fas fa-chart-pie"></i> Année(s) d'éxperience(s) : {{job.yearsOfExperience}}</p>
              <p>
                <i class="fas fa-map-marker"></i> Position : {{job.workPlace}}</p>
            </div>

            <p-footer>
              <a href="{{job.url}}" class="learn-more">Voir sur Emplois Québec»</a>
            </p-footer>

          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="text-align:center">
  <!-- Loading bar -->
  <div *ngIf="isLoading">
    <button class="btn btn-lg btn-warning">
      <span class="glyphicon glyphicon-refresh spinning"></span> {{loadingText}}
    </button>
  </div>

</div>
