<div class="container-fluid mx-auto">
  <!-- Region selector : -->
  <p-listbox [options]="regions" [(ngModel)]="selectedRegions" [style]="{'width':'400px'}"
             [listStyle]="{'max-height':'250px'}" multiple="multiple" checkbox="checkbox" filter="filter"
             (onChange)="regionsChanged($event)" optionLabel="name">
    <p-header>Choisir une région</p-header>
  </p-listbox>

  <!-- City selector : -->
  <div *ngIf="selectedRegions?.length > 0">
    <p-listbox [options]="cities" [(ngModel)]="selectedCities" [style]="{'width':'400px'}"
               [listStyle]="{'max-height':'250px'}" multiple="multiple" checkbox="checkbox" filter="filter"
               (onChange)="citiesChanged($event)" optionLabel="name">
      <p-header>Choisir une ville</p-header>
    </p-listbox>

  </div>

  <!--<p>Villes : {{cities.length}}, {{selectedCities.length}} sélectionné(s).</p>
  <p>Régions : {{regions.length}}, {{selectedRegions.length}} sélectionné(s).</p>

  <p>Villes sélectionnés : <span *ngFor="let c of selectedCities" style="margin-right: 20px">{{c.name}}</span></p>
  <p>Régions selectionnés : <span *ngFor="let c of selectedRegions" style="margin-right: 20px">{{c.name}}</span></p>

  <p>Jobs : {{jobs?.length}}</p>-->
</div>


<form id="filter" action="">
  <label>Filter ninjas by name :</label>
  <input type="text" name="text" [(ngModel)]="searchTerm">
</form>

<div style="text-align:center">

  <div *ngIf="jobs">
    <div class="row">
      <div class="features-boxed">
        <!--<div class="container">-->
        <div class="intro">
          <h2 class="text-center">Emplois</h2>
          <p class="text-center">{{jobs.length}} offres d'emplois dans {{getVilles()}}</p>
        </div>

        <div class="row justify-content-center features">
          <div *ngFor="let job of this.jobs | filter:searchTerm" class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box"><i class="fa fa-map-marker icon"></i>
              <h3 class="name">{{job.nameOfTheJob}}</h3>

              <div class="description">
                <p><i class="fas fa-crosshairs"></i> Employeur : {{job.employer}}</p>
                <p><i class="fas fa-users"></i> Position(s) : {{job.numberOfPositions}}</p>
                <p><i class="fas fa-graduation-cap"></i> Éducation : {{job.education}}</p>
                <p><i class="fas fa-chart-pie"></i> Année(s) d'éxperience(s) : {{job.yearsOfExperience}}</p>
                <p><i class="fas fa-map-marker"></i> Position : {{job.workPlace}}</p>
              </div>

              <a href="{{job.url}}" class="learn-more">Voir sur Emplois Québec»</a></div>
          </div>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>

  <!-- Loading bar -->
  <div *ngIf="isLoading">
    <button class="btn btn-lg btn-warning">
      <span class="glyphicon glyphicon-refresh spinning"></span> {{loadingText}}
    </button>
  </div>

</div>


